[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
codacy-coverage = "*"
ipdb = "*"
isort = "*"
black = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[packages]
django-memcache-status = {editable = true,path = "."}
django-debug-toolbar = "*"
python-memcached = "*"
pylibmc = "*"
django-pylibmc = "*"
pymemcache = "*"
django-pymemcache = "*"

[pipenv]
allow_prereleases = true

[scripts]
test = "sh -c \"coverage erase && pytest && coverage html && echo Coverage report in /tmp/coverage_report/django-memcache-status/index.html\""
cleanup = "sh -c \"isort -rc memcache_status && black --skip-string-normalization --line-length=80 --exclude='/(migrations)/' memcache_status\""
testserver = "sh -c \"django-admin migrate --noinput && django-admin runserver\""